<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--告诉UserMapper为哪个接口文件提供服务-->
<mapper namespace="com.dz.campus_product_backend.dao.CategoryMapper">
    <!--实体类中的名称和数据库中的名称不匹配时需要映射-->
    <resultMap id="categoryResultMap" type="Category">
<!--        <id column="id" property="id" jdbcType="BIGINT"/>-->
<!--        <result column="username" property="username" jdbcType="VARCHAR"/>-->
<!--        <result column="password" property="password" jdbcType="VARCHAR"/>-->
<!--        <result column="phone" property="phone" jdbcType="VARCHAR"/>-->
<!--        <result column="create_time" property="create_time" jdbcType="TIMESTAMP"/>-->
    </resultMap>
    <select id="getCategories" resultType="Category">
        select * from category
    </select>
    <update id="updateall">
        update category set is_use=0
    </update>
    <update id="enableCategory">
        update category set is_use = 1 where id = #{id}
    </update>
    <select id="selectEnable" resultType="Category">
        select * from category where is_use = 1
    </select>
</mapper>