<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--告诉UserMapper为哪个接口文件提供服务-->
<mapper namespace="com.dz.campus_product_backend.dao.CommentMapper">
    <!--实体类中的名称和数据库中的名称不匹配时需要映射-->
    <resultMap id="evaluationResultMap" type="Evaluation">
<!--        <id column="id" property="id" jdbcType="BIGINT"/>-->
<!--        <result column="username" property="username" jdbcType="VARCHAR"/>-->
<!--        <result column="password" property="password" jdbcType="VARCHAR"/>-->
<!--        <result column="phone" property="phone" jdbcType="VARCHAR"/>-->
<!--        <result column="create_time" property="create_time" jdbcType="TIMESTAMP"/>-->
    </resultMap>
    <insert id="insertComment" parameterType="Evaluation">
        insert into evaluation (user_id,product_id,score,content,create_time)
        values (#{user_id}, #{product_id},#{score}, #{content}, #{create_time})
    </insert>
</mapper>